# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Pytest
.pytest_cache/

# Database / runtime state
*.db
*.sqlite3
sessions.json

# ML model artifacts
*.bin
*.pt

app/ai/inventory_model/
app/ai/engine/models/

# Logs
*.log

# OS files
.DS_Store